<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/client.css" type="text/css">
    <link rel="shortcut icon" href="/static/img/wimage.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
        integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/page/page.js"></script>
    <script src="/static/js/client.js"></script>
    <meta charset="UTF-8">
    <title>Lab 1</title>
    <!-- VIEWS -->
    <script type="text/view" id="welcomeview">
        <div class="container py-5">
                <div id="form-area">
                    <div id="image">
                        <img src="/static/img/wimage.png" alt="">
                    </div>
                    <div id="right-panel">
                        <div id="login">
                            <h4>Sign in</h4>
                            <form onsubmit="logInValidation(this); return false;">
                                <p id="login-error"></p>
                                <div class="mb-3">
                                    <label class="form-label" for="loginemail">Login Email</label>
                                    <input class="form-control" type="email" name="loginemail" id="loginemail" autocomplete required>
                                </div>
            
                                <div class="mb-3">
                                    <label class="form-label" for="loginpassword">Password</label>
                                    <input class="form-control" type="password" name="loginpassword" id="loginpassword" autocomplete required>
                                </div>
                                <input class="btn btn-success" type="submit" value="Login">
                            </form>
                        </div>
                        <div id="signup">
                            <h4 class="mt-5">Sign up here</h4>
                            <form onsubmit="signUpValidation(this); return false;">
                                <p id="signup-error"></p>
                                <div>
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" name="email" id="email" required>
                                </div>
                                <div>
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" name="password" id="password" autocomplete required>
                                </div>
            
                                <div>
                                    <label class="form-label" for="password2">Password again</label>
                                    <input class="form-control" type="password" name="password2" id="password2" autocomplete required>
                                </div>
                                <div>
                                    <label class="form-label" for="firstname">First name</label>
                                    <input class="form-control" type="text" name="firstname" id="firstname" required>
                                </div>
            
                                <div>
                                    <label class="form-label" for="familyname">Family name</label>
                                    <input class="form-control" type="text" name="familyname" id="familyname" required>
                                </div>
            
                                <div>
                                    <label class="form-label" for="gender">Gender</label>
                                    <select class="form-select" name="gender" id="gender" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
            
                                <div>
                                    <label class="form-label" for="city">City</label>
                                    <input class="form-control" type="text" name="city" id="city" required>
                                </div>
            
                                <div>
                                    <label class="form-label" for="country">Country</label>
                                    <input class="form-control" type="text" name="country" id="country" required>
                                </div>
                                <input class="btn btn-success mt-2" type="submit" value="Signup">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    <script type="text/view" id="profileview">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Twidder</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item tabLink" id="home-tab"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item tabLink" id="browse-tab"><a class="nav-link" href="/browse">Browse</a></li>
                    <li class="nav-item tabLink" id="profile-tab"><a class="nav-link" href="/profile">Profile</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="">
                <div class="container my-5" id="panels">
                    
                    <div class="hidden-panel panel" id="home-panel">
                        <h1>Home</h1>
                        <div>
                            <p>Name: <span id="homeName"></span></p>
                            <p>Family name: <span id="homeFamily"></span></p>
                            <p>Email: <span id="homeEmail"></span></p>
                            <p>City: <span id="homeCity"></span></p>
                            <p>Gender: <span id="homeGender"></span></p>
                            <p>Country: <span id="homeCountry"></span></p>
                        </div>
                        <form onsubmit="postMessage(this); return false;" >
                            <label for="message">Message text</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" ondrop="drop(event)" ondragover="allowDrop(event)"></textarea>
                            <input class="btn btn-primary my-2" type="submit" value="Post message">
                        </form>
                        <h4>Messages</h4>
                        <div id="homeMessages">

                        </div>
                        <button class="btn btn-danger" onclick="refreshPage()">Refresh page</button>
                    </div>
                    <div class="hidden-panel panel" id="browse-panel">
                        <h1>Browse</h1>
                        <p id="noUserFoundError"></p>
                        <form>
                            <label for="email">Serach user wall</label>
                            <input class="form-control" type="email" name="email" id="email">
                            <button class="btn btn-primary my-2" onclick="displayUserWall(this.form.email.value)" type="button">Show user wall</button>
                        </form>
                        <div id="browseInformation">
                            <p>Name: <span id="browseName"></span></p>
                            <p>Family name: <span id="browseFamily"></span></p>
                            <p>Email: <span id="browseEmail"></span></p>
                            <p>City: <span id="browseCity"></span></p>
                            <p>Gender: <span id="browseGender"></span></p>
                            <p>Country: <span id="browseCountry"></span></p>
                        </div>
                        <form onsubmit="postMessage(this); return false;" id="postMessageForm">
                            <label for="message">Message text</label>
                            <textarea class="form-control" name="message" id="message2" cols="30" rows="10"></textarea>
                            <input class="btn btn-success my-2" type="submit" value="Post message">
                        </form>
                        <div id="browseMessages">
                            
                        </div>
                        <div id="homeMessages">
                            
                        </div>
                        <button class="btn btn-danger" onclick="refreshPage()">Refresh page</button>
                    </div>
                    <div class="hidden-panel panel" id="profile-panel">
                        <h1>Profile</h1>
                        <h4>Log out</h4>
                        <button class="btn btn-danger" onclick="signOutValidation()">Log out</button>
                        <h4 class="my-4">Change password</h4>
                        <form onsubmit="changePasswordValidation(this); return false;">
                            <div class="mb-2">
                                <label class="form-label" for="oldpassword">Old password</label>
                                <input class="form-control" type="password" name="oldpassword" id="oldpassword">
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="password">New password</label>
                                <input class="form-control" type="password" name="password" id="password">
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="password2">New password again</label>
                                <input class="form-control" type="password" name="password2" id="password2">
                            </div>
                            <div class="">
                                <input class="btn btn-warning my-2" type="submit" value="Change password">
                            </div>
                        </form>
                        <p id="changePasswordMessage"></p>
                    </div>
                </div>
            </div>
        </script>
</head>

<body>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
        integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous">
    </script>

    <div id="dynamic-content">
        <!-- PLACE CONTENT HERE -->
    </div>

    <script>
        var socket = io();

        socket.on('logout', function () {
            console.log("log out");
            forceLogout()
        });

        socket.on('connect', () => {
            console.log("Current socket id: ", socket.id);
            socket.emit('message', {
                data: "Connected..."
            })
        })

        socket.on('reconnect', () => {
            socket.emit('subscribe', getLoggedInUserTokenEmail().token)
        })

        // do this when the page loads
        window.onload = function () {
            page('/login', function () {
                console.log("Going to /login...")
                displayViewNew('login')
            });
            page('/', function () {
                console.log("Going to /...")
                displayViewNew('home')
            });
            page('/profile', function () {
                console.log("Going to /profile...")
                displayViewNew('profile')
            });
            page('/browse', function () {
                console.log("Going to /browse...")
                displayViewNew('browse')
            });

            page()
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

</body>

</html>